

<style type="text/css">
table.test {
	border-width: 1px;
	border-spacing: ;
	border-style: outset;
	border-color: black;
	border-collapse: collapse;
	background-color: #EAEBD9;
}
table.test th {
	border-width: 0px;
	padding: 5px;
	border-style: solid;
	border-color: black;
	text-align: center;
}
table.test td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: black;
}
</style>



<h2>Private Company Statistics</h2>

<table class = "test">
	<tr>
		<th></th>
		<th>Anonymous</th>
		<th>Number of</th> 
	</tr>
	<tr>
		<th>User Type</th>
		<th>Companies</th>
		<th>Contributing</th> 
	</tr>
	<tr>
		<th></th>
		<th>Included</th>
		<th>Members</th> 
	</tr>
	<tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">Licensee Members</font></td>    
 		<td ><font face ="Lucida Console"><%= @licensee_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @licensee_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;CPA</font></td>    
 		<td ><font face ="Lucida Console"><%= @cpa_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @cpa_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Investment Banker</font></td>    
 		<td ><font face ="Lucida Console"><%= @banker_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @banker_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Business Broker</font></td>    
 		<td ><font face ="Lucida Console"><%= @broker_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @broker_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">Commercial Members</font></td>    
 		<td ><font face ="Lucida Console"><%= @commercial_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @commercial_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Financial Professional</font></td>    
 		<td ><font face ="Lucida Console"><%= @financialpro_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @financialpro_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Executive</font></td>    
 		<td ><font face ="Lucida Console"><%= @executive_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @executive_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">Financial Members</font></td>    
 		<td ><font face ="Lucida Console"><%= @financial_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @financial_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Appraiser</font></td>    
 		<td ><font face ="Lucida Console"><%= @appraiser_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @appraiser_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Lender</font></td>    
 		<td ><font face ="Lucida Console"><%= @lender_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @lender_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Private Investor</font></td>    
 		<td ><font face ="Lucida Console"><%= @priv_investor_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @priv_investor_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Public Investor</font></td>    
 		<td ><font face ="Lucida Console"><%= @pub_investor_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @pub_investor_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">Analyst Members</font></td>    
 		<td ><font face ="Lucida Console"><%= @analyst_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @analyst_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Attorney</font></td>    
 		<td ><font face ="Lucida Console"><%= @attorney_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @attorney_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Consultant</font></td>    
 		<td ><font face ="Lucida Console"><%= @consultant_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @consultant_m %></font></td>
  </tr>
  <tr >  
  	<td style="text-align:left;"><font face ="Lucida Console">&nbsp;&nbsp;&nbsp;&nbsp;Not Classified</font></td>    
 		<td ><font face ="Lucida Console"><%= @not_classified_c %></font></td>
 		<td ><font face ="Lucida Console"><%= @not_classified_m %></font></td>
  </tr>
</table>

<br><br>