<div class="content" style="width:1200px;">
<h1>Network Stats</h1><div class="goback"><%= link_to 'Back', summary_sheet_url %></div>
<table class="dataheader">
	<tr>
		<td>Company: </td>
		<td><%= @company.name %></td>
	</tr>
</table>
<div class="filter">




<table>
	<tr>
		<th>Current Filter</th>
	</tr>
</table>
<form accept-charset="UTF-8" action="/network_stats/filter" method="post">
	<table>
		<tr>
			<td>SIC Range:</td>
			<td>Any</td>
			<td>Ownership:</td>
			<td><%= select(:filter, :ownership, StatFilter.ownership_options) %></td>
			<td>Combination:</td>
			<td><%= select(:filter, :combination, StatFilter.combination_options) %></td>
			<td>Country:</td>
			<td><%= select(:filter, :country, StatFilter.country_options) %></td>
			<td>Region:</td>
			<td><%= select(:filter, :region, StatFilter.region_options) %></td>
			<td>Historical Quality:</td>
			<td><%= select(:filter, :quality, StatFilter.quality_options) %></td>
		</tr>
	</table>
	<div>
	<%= hidden_field(:company, :id) %>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<input name="commit" type="submit" value="Apply Filter" />
	</div>
 </form>

 </div>

<div class="companystats">
<table class="dataheader networkpage">
	<tr>
		<td>My Stat Trade</td>
	</tr>
</table>
<table class="table">
	<tr>
		<th></th>
		<th>Now</th>
		<th>CY</th>
		<th>2Y</th>
		<th>3Y</th>
		<th><!-- 4Y --></th>
		<th><!-- 5Y --></th>
	</tr>
	<tr>
		<td><%= label :trade, "Revenue Category:" %></td>
		<td><%= @trade_now.revenue_category %></td>
		<td><%= @trade_cy.revenue_category %></td>
		<td><%= @trade_2y.revenue_category %></td>
		<td><%= @trade_3y.revenue_category %></td>
		<td><%= @trade_4y.revenue_category %></td>
		<td><%= @trade_5y.revenue_category %></td>
	</tr>
	<tr>
		<td><%= label :trade, "Asset Category:" %></td>
		<td><%= @trade_now.asset_category %></td>
		<td><%= @trade_cy.asset_category %></td>
		<td><%= @trade_2y.asset_category %></td>
		<td><%= @trade_3y.asset_category %></td>
		<td><%= @trade_4y.asset_category %></td>
		<td><%= @trade_5y.asset_category %></td>
	</tr>
	<tr>
		<td><%= label :trade, "Sales/Revenue Growth:" %></td>
		<td><%= @trade_now.sales_growth %><%= "%" unless @trade_now.sales_growth.nil? %></td>
		<td><%= @trade_cy.sales_growth %><%= "%" unless @trade_cy.sales_growth.nil? %></td>
		<td><%= @trade_2y.sales_growth %><%= "%" unless @trade_2y.sales_growth.nil? %></td>
		<td><%= @trade_3y.sales_growth %><%= "%" unless @trade_3y.sales_growth.nil? %></td>
		<td><%= @trade_4y.sales_growth %><%= "%" unless @trade_4y.sales_growth.nil? %></td>
		<td><%= @trade_5y.sales_growth %><%= "%" unless @trade_5y.sales_growth.nil? %></td>
	</tr>
	<tr>
		<td><%= label :trade, "Gross Profit Margin:" %></td>
		<td><%= @trade_now.gross_profit_margin %><%= "%" unless @trade_now.gross_profit_margin.nil? %></td>
		<td><%= @trade_cy.gross_profit_margin %><%= "%" unless @trade_cy.gross_profit_margin.nil? %></td>
		<td><%= @trade_2y.gross_profit_margin %><%= "%" unless @trade_2y.gross_profit_margin.nil? %></td>
		<td><%= @trade_3y.gross_profit_margin %><%= "%" unless @trade_3y.gross_profit_margin.nil? %></td>
		<td><%= @trade_4y.gross_profit_margin %><%= "%" unless @trade_4y.gross_profit_margin.nil? %></td>
		<td><%= @trade_5y.gross_profit_margin %><%= "%" unless @trade_5y.gross_profit_margin.nil? %></td>
	</tr>
	<tr>
		<td><%= label :trade, "Operating Profit Margin:" %></td>
		<td><%= @trade_now.operating_profit_margin %><%= "%" unless @trade_now.operating_profit_margin.nil? %></td>
		<td><%= @trade_cy.operating_profit_margin %><%= "%" unless @trade_cy.operating_profit_margin.nil? %></td>
		<td><%= @trade_2y.operating_profit_margin %><%= "%" unless @trade_2y.operating_profit_margin.nil? %></td>
		<td><%= @trade_3y.operating_profit_margin %><%= "%" unless @trade_3y.operating_profit_margin.nil? %></td>
		<td><%= @trade_4y.operating_profit_margin %><%= "%" unless @trade_4y.operating_profit_margin.nil? %></td>
		<td><%= @trade_5y.operating_profit_margin %><%= "%" unless @trade_5y.operating_profit_margin.nil? %></td>
	</tr>
	<tr>
		<td><%= label :trade, "EBITDA %:" %></td>
		<td><%= @trade_now.ebitda_percent %><%= "%" unless @trade_now.ebitda_percent.nil? %></td>
		<td><%= @trade_cy.ebitda_percent %><%= "%" unless @trade_cy.ebitda_percent.nil? %></td>
		<td><%= @trade_2y.ebitda_percent %><%= "%" unless @trade_2y.ebitda_percent.nil? %></td>
		<td><%= @trade_3y.ebitda_percent %><%= "%" unless @trade_3y.ebitda_percent.nil? %></td>
		<td><%= @trade_4y.ebitda_percent %><%= "%" unless @trade_4y.ebitda_percent.nil? %></td>
		<td><%= @trade_5y.ebitda_percent %><%= "%" unless @trade_5y.ebitda_percent.nil? %></td>
	</tr>
	<tr>
		<td><%= label :trade, "Enterprise Multiple of Book:" %></td>
		<td><%= @trade_now.enterprise_multiple %></td>
		<td><%= @trade_cy.enterprise_multiple %></td>
		<td><%= @trade_2y.enterprise_multiple %></td>
		<td><%= @trade_3y.enterprise_multiple %></td>
		<td><%= @trade_4y.enterprise_multiple %></td>
		<td><%= @trade_5y.enterprise_multiple %></td>
	</tr>
	<tr>
		<td><%= label :trade, "My EBITDA Multiple:" %></td>
		<td><%= @trade_now.ebitda_multiple %></td>
		<td><%= @trade_cy.ebitda_multiple %></td>
		<td><%= @trade_2y.ebitda_multiple %></td>
		<td><%= @trade_3y.ebitda_multiple %></td>
		<td><%= @trade_4y.ebitda_multiple %></td>
		<td><%= @trade_5y.ebitda_multiple %></td>
	</tr>
	<tr>
		<td><%= label :trade, "My Sales Multiple:" %></td>
		<td><%= @trade_now.sales_multiple %></td>
		<td><%= @trade_cy.sales_multiple %></td>
		<td><%= @trade_2y.sales_multiple %></td>
		<td><%= @trade_3y.sales_multiple %></td>
		<td><%= @trade_4y.sales_multiple %></td>
		<td><%= @trade_5y.sales_multiple %></td>
	</tr>
	<tr>
		<td><%= label :trade, "My Funded Debt Multiple:" %></td>
		<td><%= @trade_now.debt_multiple %></td>
		<td><%= @trade_cy.debt_multiple %></td>
		<td><%= @trade_2y.debt_multiple %></td>
		<td><%= @trade_3y.debt_multiple %></td>
		<td><%= @trade_4y.debt_multiple %></td>
		<td><%= @trade_5y.debt_multiple %></td>
	</tr>
</table>
</div>



<div class="networkstats">

<table class="dataheader networkpage">
	<tr>
		<td>Network Stats<span>Companies Included: <%= @sample_size.to_i %></span></td>
	</tr>
</table>


<table class="table networktable">

		<!-- <th></th> -->
		<th>Now</th>
		<th>CY</th>
		<th>2Y</th>
		<th>3Y</th>
		<!-- <th>4Y</th>
		<th>5Y</th> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Revenue Category:" %></td> -->
		<td><%= number_with_precision(@now_revenue_category, :precision => 1) %></td>
		<td><%= number_with_precision(@cy_revenue_category, :precision => 1) %></td>
		<td><%= number_with_precision(@y2_revenue_category, :precision => 1) %></td>
		<td><%= number_with_precision(@y3_revenue_category, :precision => 1) %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.revenue_category %></td>
		<td><%= @trade_5y.revenue_category %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Asset Category:" %></td> -->
		<td><%= number_with_precision(@now_asset_category, :precision => 1) %></td>
		<td><%= number_with_precision(@cy_asset_category, :precision => 1) %></td>
		<td><%= number_with_precision(@y2_asset_category, :precision => 1) %></td>
		<td><%= number_with_precision(@y3_asset_category, :precision => 1) %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.asset_category %></td>
		<td><%= @trade_5y.asset_category %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Sales/Revenue Growth:" %></td> -->
		<td><%= number_with_precision(@now_sales_growth, :precision => 1) %><%= "%" unless @now_sales_growth.nil? %></td>
		<td><%= number_with_precision(@cy_sales_growth, :precision => 1) %><%= "%" unless @cy_sales_growth.nil? %></td>
		<td><%= number_with_precision(@y2_sales_growth, :precision => 1) %><%= "%" unless @y2_sales_growth.nil? %></td>
		<td><%= number_with_precision(@y3_sales_growth, :precision => 1) %><%= "%" unless @y3_sales_growth.nil? %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.sales_growth %><%= "%" unless @trade_4y.sales_growth.nil? %></td>
		<td><%= @trade_5y.sales_growth %><%= "%" unless @trade_5y.sales_growth.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Gross Profit Margin:" %></td> -->
		<td><%= number_with_precision(@now_gross_profit_margin, :precision => 1) %><%= "%" unless @now_gross_profit_margin.nil? %></td>
		<td><%= number_with_precision(@cy_gross_profit_margin, :precision => 1) %><%= "%" unless @cy_gross_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y2_gross_profit_margin, :precision => 1) %><%= "%" unless @y2_gross_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y3_gross_profit_margin, :precision => 1) %><%= "%" unless @y3_gross_profit_margin.nil? %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.gross_profit_margin %><%= "%" unless @trade_4y.gross_profit_margin.nil? %></td>
		<td><%= @trade_5y.gross_profit_margin %><%= "%" unless @trade_5y.gross_profit_margin.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Operating Profit Margin:" %></td> -->
		<td><%= number_with_precision(@now_operating_profit_margin, :precision => 1) %><%= "%" unless @now_operating_profit_margin.nil? %></td>
		<td><%= number_with_precision(@cy_operating_profit_margin, :precision => 1) %><%= "%" unless @cy_operating_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y2_operating_profit_margin, :precision => 1) %><%= "%" unless @y2_operating_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y3_operating_profit_margin, :precision => 1) %><%= "%" unless @y3_operating_profit_margin.nil? %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.operating_profit_margin %><%= "%" unless @trade_4y.operating_profit_margin.nil? %></td>
		<td><%= @trade_5y.operating_profit_margin %><%= "%" unless @trade_5y.operating_profit_margin.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "EBITDA %:" %></td> -->
		<td><%= number_with_precision(@now_ebitda_percent, :precision => 1) %><%= "%" unless @now_ebitda_percent.nil? %></td>
		<td><%= number_with_precision(@cy_ebitda_percent, :precision => 1) %><%= "%" unless @cy_ebitda_percent.nil? %></td>
		<td><%= number_with_precision(@y2_ebitda_percent, :precision => 1) %><%= "%" unless @y2_ebitda_percent.nil? %></td>
		<td><%= number_with_precision(@y3_ebitda_percent, :precision => 1) %><%= "%" unless @y3_ebitda_percent.nil? %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.ebitda_percent %><%= "%" unless @trade_4y.ebitda_percent.nil? %></td>
		<td><%= @trade_5y.ebitda_percent %><%= "%" unless @trade_5y.ebitda_percent.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Enterprise Multiple of Book:" %></td> -->
		<td><%= number_with_precision(@now_enterprise_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@cy_enterprise_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y2_enterprise_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y3_enterprise_multiple, :precision => 1) %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.enterprise_multiple %></td>
		<td><%= @trade_5y.enterprise_multiple %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "My EBITDA Multiple:" %></td> -->
		<td><%= number_with_precision(@now_ebitda_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@cy_ebitda_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y2_ebitda_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y3_ebitda_multiple, :precision => 1) %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.ebitda_multiple %></td>
		<td><%= @trade_5y.ebitda_multiple %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "My Sales Multiple:" %></td> -->
		<td><%= number_with_precision(@now_sales_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@cy_sales_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y2_sales_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y3_sales_multiple, :precision => 1) %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.sales_multiple %></td>
		<td><%= @trade_5y.sales_multiple %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "My Funded Debt Multiple:" %></td> -->
		<td><%= number_with_precision(@now_debt_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@cy_debt_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y2_debt_multiple, :precision => 1) %></td>
		<td><%= number_with_precision(@y3_debt_multiple, :precision => 1) %></td>
		<td><img src="/img/graph-icon.gif" /></td>
		<!-- <td><%= @trade_4y.debt_multiple %></td>
		<td><%= @trade_5y.debt_multiple %></td> -->
	</tr>
</table>
</div>

<div class="charts">

<p>
<img class="chart" src="/img/chart1.png" />
</p>

<p>
<img class="chart" src="/img/chart2.png" />
</p>

</div>

</div>