<script type="text/javascript">
    $(document).ready(function() {

        $('#save').click(function(){
            var target = '/network_stats/save_filter';
            $('#filterform').attr('action', target);
            $('#filterform').submit();
        });

        $('#apply').click(function(){
            var target = '/network_stats/filter';
            $('#filterform').attr('action', target);
            $('#filterform').submit();
        });

        $('#open_filter').click(function(){
            $('#filtermenu').slideDown();
            $('#open_filter').hide();
            $('#hide_filter').show();
        });

        $('#hide_filter').click(function(){
            $('#filtermenu').slideUp();
            $('#open_filter').show();
            $('#hide_filter').hide();
        });

    });
</script>

<div class="menu networktab">
	<%= link_to "Summary Sheet", :controller=>"summary_sheet",:action=>"index" %>
	<%= link_to "Data Sheet", :controller=>"data_sheet",:action=>"view", :id => @company.id %>
	<span>Network Stats</span>
</div>

<div class="datamenu">

<div id="dataoutlist" class="dataout">
<div id="dataout" onfocus="this.blur();">Company Data Out</div>
<p><%= link_to 'Export to an Excel Spreadsheet', :controller=>"network_stats",:action=>"view", :id => @company.id, :format => :xls %></p>
<p><%= link_to 'Export to a StatTrader File', :controller=>"network_stats",:action=>"view", :id => @company.id, :format => :xml %></p>
</div>

</div>

<div class="networkcontainer">

<div class="filters"> 

<%= show_notice(notice) %>
<br>

<%= form_for(@filter, :url => {:action => "load_filter", :id => @company.id}) do |f| %>	
<table>
	<tr>
		<td><h2>Current Filter: <%= @filter.name %></h2></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>Load filter: </td>
		<td><%= select(:filter, :id, Hash[@filters.collect(&:name).zip(@filters.collect(&:id))]) %></td>
		<td><%= f.submit "Load Filter" %></td>
<% end %>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
			<button type="button" id="open_filter">Edit Filter</button>
			<button type="button" id="hide_filter">Hide Filter</button>
		</td>
	</tr>
</table>



<div id="filtermenu">

<form accept-charset="UTF-8" action="/network_stats/save_filter" method="post" id="filterform">
	<%= hidden_field(:company, :id) %>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

<table>
	<tr>
		<td>

<table>
	<tr>
		<td rowspan="3">Core:</td>
		<td></td>
		<td><input name="commit" type="submit" value="Apply Filter" id="apply" /></td>
	</tr>
	<tr>
		<td>Country:</td>
		<td><%= select(:filter, :country, StatFilter.country_options) %></td>
	</tr>
	<tr>
		<td>Region:</td>
		<td><%= select(:filter, :region, StatFilter.region_options) %></td>
	</tr>
</table>

</td>
<td>

<table>
	<tr>
		<td rowspan="5">SIC Filter:</td>
	</tr>
	<tr>
		<td>
			<select name="filter[sic_level1]" id="filter_sic_level1" rel="/network_stats/fill_in_sics">
				<%= options_for_select(@sic_1digit, @filter.sic_level1) unless @filter.sic_level1 == "" %>
				<%= options_for_select(@sic_1digit) if @filter.sic_level1 == "" %>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<select name="filter[sic_level2]" id="filter_sic_level2" rel="/network_stats/fill_in_sics_3digit">
				<%= options_for_select(SIC.get_children(@filter.sic_level1), @filter.sic_level2) if @filter.sic_level2 != "" %>
				<%= options_for_select(SIC.get_children(@filter.sic_level1)) if @filter.sic_level1 != "" and @filter.sic_level2 == "" %>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<select name="filter[sic_level3]" id="filter_sic_level3" rel="/network_stats/fill_in_sics_4digit">
				<%= options_for_select(SIC.get_children(@filter.sic_level2), @filter.sic_level3) if @filter.sic_level3 != "" %>
				<%= options_for_select(SIC.get_children(@filter.sic_level2)) if @filter.sic_level2 != "" and @filter.sic_level3 == "" %>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<select name="filter[sic_level4]" id="filter_sic_level4">
				<%= options_for_select(SIC.get_children(@filter.sic_level3), @filter.sic_level4) if @filter.sic_level4 != "" %>
				<%= options_for_select(SIC.get_children(@filter.sic_level3)) if @filter.sic_level3 != "" and @filter.sic_level4 == "" %>
			</select>
		</td>
	</tr>
</table>

</td>
</tr>
</table>

<table>
<tr>
	<td>

<table style="border-style:solid;border-width:1px;border-color:#ffffff;">
	<tr>
		<td rowspan="14">User Type:</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_cpa) %></td>
		<td>CPA in Public Practice</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_investment_banker) %></td>
		<td>Investment Banker</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_business_broker) %></td>
		<td>Business Broker</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_business_appraiser) %></td>
		<td>Business Appraiser or Valuation Expert</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_commercial_lender) %></td>
		<td>Commercial and/or Mezzanine Lender</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_private_investor) %></td>
		<td>Private Investor or Private Equity Professional</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_public_investor) %></td>
		<td>Public Investor or Investment Manager</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_financial_pro) %></td>
		<td>Financial Professional Working in Industry</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_executive) %></td>
		<td>Executive Working in Industry</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_attorney) %></td>
		<td>Attorney</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_consultant) %></td>
		<td>Consultant or Financial Analyst</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :user_not_classified) %></td>
		<td>Not Classified</td>
	</tr>
	<tr style="background-color:#555555;">
		<td style="text-align:right;"><%= check_box(:filter, :user_stattrader) %></td>
		<td>StatTrader's Database</td>
	</tr>
</table>

</td>
<td>

<table style="border-style:solid;border-width:1px;border-color:#ffffff;">
	<tr>
		<td rowspan="4">Accounts:</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :accounts_audit) %></td>
		<td>Audit</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :accounts_review) %></td>
		<td>Review</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :accounts_mgt) %></td>
		<td>Mgt/Compiled</td>
	</tr>
</table>

<table style="border-style:solid;border-width:1px;border-color:#ffffff;">
	<tr>
		<td rowspan="3">Entities:</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :entities_combination) %></td>
		<td>Combination</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :entities_not_combination) %></td>
		<td>Not a Combination</td>
	</tr>
</table>

<table style="border-style:solid;border-width:1px;border-color:#ffffff;">
	<tr>
		<td rowspan="5">Ownership:</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :ownership_public) %></td>
		<td>Public</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :ownership_private_investor) %></td>
		<td>Private Investor</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :ownership_private_operator) %></td>
		<td>Private Operator</td>
	</tr>
	<tr>
		<td style="text-align:right;"><%= check_box(:filter, :ownership_division) %></td>
		<td>Division/Subsidiary</td>
	</tr>
</table>

<table>
	<tr>
		<td>Revenue Category Range:</td>
		<td><%= select(:filter, :revenue_low, {1=>1,2=>2,3=>3,4=>4,5=>5,6=>6,7=>7,8=>8,9=>9,10=>10,11=>11,12=>12}, :include_blank => 'Any') %></td>
		<td><%= select(:filter, :revenue_high, {1=>1,2=>2,3=>3,4=>4,5=>5,6=>6,7=>7,8=>8,9=>9,10=>10,11=>11,12=>12}, :include_blank => 'Any') %></td>
	</tr>
	<tr>
		<td>Asset Category Range:</td>
		<td><%= select(:filter, :asset_low, {1=>1,2=>2,3=>3,4=>4,5=>5,6=>6,7=>7,8=>8,9=>9,10=>10,11=>11,12=>12}, :include_blank => 'Any') %></td>
		<td><%= select(:filter, :asset_high, {1=>1,2=>2,3=>3,4=>4,5=>5,6=>6,7=>7,8=>8,9=>9,10=>10,11=>11,12=>12}, :include_blank => 'Any') %></td>
	</tr>
</table>

</td>
</tr>
</table>

<br>
<table style="background-color:#555555;">
	<tr>
		<td>Save Filter as: </td>
		<td><%= text_field :filter, :name %></td>
		<td><input name="commit" type="submit" value="Save & Apply Filter" id="save" /></td>
	</tr>
</table>



 </form>

</div>

</div>


<div class="networkstats_bluebottom">


<div class="leftwindow networkstats" id="leftwindow">

<div class="charts">
<div id="chart1container" class="hiddenchart">
<p>
Revenue Category ( in millions )
</p>
<p>
<div id="chart1" class="chart"></div>
</p>
</div>
<div id="chart2container" class="hiddenchart">
<p>
Asset Category ( in millions )
</p>
<p>
<div id="chart2" class="chart"></div>
</p>
</div>
<div id="chart3container" class="topchart">
<p>
Sales/Revenue Growth %
</p>
<p>
<div id="chart3" class="chart"></div>
</p>
</div>
<div id="chart4container" class="bottomchart">
<p>
Gross Profit Margin %
</p>
<p>
<div id="chart4" class="chart"></div>
</p>
</div>
<div id="chart5container" class="hiddenchart">
<p>
Operating Profit Margin %
</p>
<p>
<div id="chart5" class="chart"></div>
</p>
</div>
<div id="chart6container" class="hiddenchart">
<p>
EBITDA %
</p>
<p>
<div id="chart6" class="chart"></div>
</p>
</div>
<div id="chart7container" class="hiddenchart">
<p>
Enterprise Multiple of Book
</p>
<p>
<div id="chart7" class="chart"></div>
</p>
</div>
<div id="chart8container" class="hiddenchart">
<p>
EBITDA Multiple
</p>
<p>
<div id="chart8" class="chart"></div>
</p>
</div>
<div id="chart9container" class="hiddenchart">
<p>
Sales Multiple
</p>
<p>
<div id="chart9" class="chart"></div>
</p>
</div>
<div id="chart10container" class="hiddenchart">
<p>
Funded Debt Multiple
</p>
<p>
<div id="chart10" class="chart"></div>
</p>
</div>
</div>



 </div>
 
 
<div class="tablescontainer">

 
<div class="mystattradenetworkcontainer float">
 
<div class="statsheading">My Stat Trade</div>

<table class="datatable">
	<tr>
	<th></th>
		<th></th>
		<th>Now</th>
		<th></th>
		<th>CY</th>
		<th></th>
		<th>2Y</th>
		<th></th>
		<th>3Y</th>
		<th></th>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(1)" /></td>
		<td><%= label :trade, "Revenue Category:" %></td>
		<td><%= @trade_now.revenue_category %></td>
		<td></td>
		<td><%= @trade_cy.revenue_category %></td>
		<td></td>
		<td><%= @trade_2y.revenue_category %></td>
		<td></td>
		<td><%= @trade_3y.revenue_category %></td>
		<td></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(2)" /></td>
		<td><%= label :trade, "Asset Category:" %></td>
		<td><%= @trade_now.asset_category %></td>
		<td></td>
		<td><%= @trade_cy.asset_category %></td>
		<td></td>
		<td><%= @trade_2y.asset_category %></td>
		<td></td>
		<td><%= @trade_3y.asset_category %></td>
		<td></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(3)" /></td>
		<td><%= label :trade, "Sales/Revenue Growth:" %></td>
		<td><%= @trade_now.sales_growth %></td>
		<td><%= "%" unless @trade_now.sales_growth.nil? %></td>
		<td><%= @trade_cy.sales_growth %></td>
		<td><%= "%" unless @trade_cy.sales_growth.nil? %></td>
		<td><%= @trade_2y.sales_growth %></td>
		<td><%= "%" unless @trade_2y.sales_growth.nil? %></td>
		<td><%= @trade_3y.sales_growth %></td>
		<td><%= "%" unless @trade_3y.sales_growth.nil? %></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(4)" /></td>
		<td><%= label :trade, "Gross Profit Margin:" %></td>
		<td><%= @trade_now.gross_profit_margin %></td>
		<td><%= "%" unless @trade_now.gross_profit_margin.nil? %></td>
		<td><%= @trade_cy.gross_profit_margin %></td>
		<td><%= "%" unless @trade_cy.gross_profit_margin.nil? %></td>
		<td><%= @trade_2y.gross_profit_margin %></td>
		<td><%= "%" unless @trade_2y.gross_profit_margin.nil? %></td>
		<td><%= @trade_3y.gross_profit_margin %></td>
		<td><%= "%" unless @trade_3y.gross_profit_margin.nil? %></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(5)" /></td>
		<td><%= label :trade, "Operating Profit Margin:" %></td>
		<td><%= @trade_now.operating_profit_margin %></td>
		<td><%= "%" unless @trade_now.operating_profit_margin.nil? %></td>
		<td><%= @trade_cy.operating_profit_margin %></td>
		<td><%= "%" unless @trade_cy.operating_profit_margin.nil? %></td>
		<td><%= @trade_2y.operating_profit_margin %></td>
		<td><%= "%" unless @trade_2y.operating_profit_margin.nil? %></td>
		<td><%= @trade_3y.operating_profit_margin %></td>
		<td><%= "%" unless @trade_3y.operating_profit_margin.nil? %></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(6)" /></td>
		<td><%= label :trade, "EBITDA %:" %></td>
		<td><%= @trade_now.ebitda_percent %></td>
		<td><%= "%" unless @trade_now.ebitda_percent.nil? %></td>
		<td><%= @trade_cy.ebitda_percent %></td>
		<td><%= "%" unless @trade_cy.ebitda_percent.nil? %></td>
		<td><%= @trade_2y.ebitda_percent %></td>
		<td><%= "%" unless @trade_2y.ebitda_percent.nil? %></td>
		<td><%= @trade_3y.ebitda_percent %></td>
		<td><%= "%" unless @trade_3y.ebitda_percent.nil? %></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(7)" /></td>
		<td><%= label :trade, "Enterprise Multiple of Book:" %></td>
		<td><%= @trade_now.enterprise_multiple %></td>
		<td></td>
		<td><%= @trade_cy.enterprise_multiple %></td>
		<td></td>
		<td><%= @trade_2y.enterprise_multiple %></td>
		<td></td>
		<td><%= @trade_3y.enterprise_multiple %></td>
		<td></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(8)" /></td>
	<td><%= label :trade, "My EBITDA Multiple:" %></td>
		<td><%= @trade_now.ebitda_multiple %></td>
		<td></td>
		<td><%= @trade_cy.ebitda_multiple %></td>
		<td></td>
		<td><%= @trade_2y.ebitda_multiple %></td>
		<td></td>
		<td><%= @trade_3y.ebitda_multiple %></td>
		<td></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(9)" /></td>
		<td><%= label :trade, "My Sales Multiple:" %></td>
		<td><%= @trade_now.sales_multiple %></td>
		<td></td>
		<td><%= @trade_cy.sales_multiple %></td>
		<td></td>
		<td><%= @trade_2y.sales_multiple %></td>
		<td></td>
		<td><%= @trade_3y.sales_multiple %></td>
		<td></td>
	</tr>
	<tr>
	<td><img src="/img/charticon.png" class="icon" onclick="getChart(10)" /></td>
		<td><%= label :trade, "My Funded Debt Multiple:" %></td>
		<td><%= @trade_now.debt_multiple %></td>
		<td></td>
		<td><%= @trade_cy.debt_multiple %></td>
		<td></td>
		<td><%= @trade_2y.debt_multiple %></td>
		<td></td>
		<td><%= @trade_3y.debt_multiple %></td>
		<td></td>
	</tr>
</table>

</div>

<div class="networkstatscontainer">

<div class="statsheading">Network Stats
	<!-- <span>Companies Included: <%= @sample_size.to_i %></span> -->
	<span>Public Companies Included: <%= link_to @public_companies.to_i, {:action => :show_publics, :id => @company.id}, :target => "_blank"  %></span>
	<span>Private Companies Included: <%= link_to @private_companies.to_i, {:action => :private_stats, :id => @company.id}, :target => "_blank"  %> </span>

</div>


<table style="padding-top:10px;">

		<!-- <th></th> -->
		<th>Now</th>
		<th></th>
		<th>CY</th>
		<th></th>
		<th>2Y</th>
		<th></th>
		<th>3Y</th>
		<th></th>
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Revenue Category:" %></td> -->
		<td><%= number_with_precision(@now_revenue_category, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@cy_revenue_category, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y2_revenue_category, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y3_revenue_category, :precision => 1) %></td>
		<td></td>
		<!-- <td><%= @trade_4y.revenue_category %></td>
		<td><%= @trade_5y.revenue_category %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Asset Category:" %></td> -->
		<td><%= number_with_precision(@now_asset_category, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@cy_asset_category, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y2_asset_category, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y3_asset_category, :precision => 1) %></td>
		<td></td>
		<!-- <td><%= @trade_4y.asset_category %></td>
		<td><%= @trade_5y.asset_category %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Sales/Revenue Growth:" %></td> -->
		<td><%= number_with_precision(@now_sales_growth, :precision => 1) %></td>
		<td><%= "%" unless @now_sales_growth.nil? %></td>
		<td><%= number_with_precision(@cy_sales_growth, :precision => 1) %></td>
		<td><%= "%" unless @cy_sales_growth.nil? %></td>
		<td><%= number_with_precision(@y2_sales_growth, :precision => 1) %></td>
		<td><%= "%" unless @y2_sales_growth.nil? %></td>
		<td><%= number_with_precision(@y3_sales_growth, :precision => 1) %></td>
		<td><%= "%" unless @y3_sales_growth.nil? %></td>
		<!-- <td><%= @trade_4y.sales_growth %><%= "%" unless @trade_4y.sales_growth.nil? %></td>
		<td><%= @trade_5y.sales_growth %><%= "%" unless @trade_5y.sales_growth.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Gross Profit Margin:" %></td> -->
		<td><%= number_with_precision(@now_gross_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @now_gross_profit_margin.nil? %></td>
		<td><%= number_with_precision(@cy_gross_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @cy_gross_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y2_gross_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @y2_gross_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y3_gross_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @y3_gross_profit_margin.nil? %></td>
		<!-- <td><%= @trade_4y.gross_profit_margin %><%= "%" unless @trade_4y.gross_profit_margin.nil? %></td>
		<td><%= @trade_5y.gross_profit_margin %><%= "%" unless @trade_5y.gross_profit_margin.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Operating Profit Margin:" %></td> -->
		<td><%= number_with_precision(@now_operating_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @now_operating_profit_margin.nil? %></td>
		<td><%= number_with_precision(@cy_operating_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @cy_operating_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y2_operating_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @y2_operating_profit_margin.nil? %></td>
		<td><%= number_with_precision(@y3_operating_profit_margin, :precision => 1) %></td>
		<td><%= "%" unless @y3_operating_profit_margin.nil? %></td>
		<!-- <td><%= @trade_4y.operating_profit_margin %><%= "%" unless @trade_4y.operating_profit_margin.nil? %></td>
		<td><%= @trade_5y.operating_profit_margin %><%= "%" unless @trade_5y.operating_profit_margin.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "EBITDA %:" %></td> -->
		<td><%= number_with_precision(@now_ebitda_percent, :precision => 1) %></td>
		<td><%= "%" unless @now_ebitda_percent.nil? %></td>
		<td><%= number_with_precision(@cy_ebitda_percent, :precision => 1) %></td>
		<td><%= "%" unless @cy_ebitda_percent.nil? %></td>
		<td><%= number_with_precision(@y2_ebitda_percent, :precision => 1) %></td>
		<td><%= "%" unless @y2_ebitda_percent.nil? %></td>
		<td><%= number_with_precision(@y3_ebitda_percent, :precision => 1) %></td>
		<td><%= "%" unless @y3_ebitda_percent.nil? %></td>
		<!-- <td><%= @trade_4y.ebitda_percent %><%= "%" unless @trade_4y.ebitda_percent.nil? %></td>
		<td><%= @trade_5y.ebitda_percent %><%= "%" unless @trade_5y.ebitda_percent.nil? %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "Enterprise Multiple of Book:" %></td> -->
		<td><%= number_with_precision(@now_enterprise_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@cy_enterprise_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y2_enterprise_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y3_enterprise_multiple, :precision => 1) %></td>
		<td></td>
		<!-- <td><%= @trade_4y.enterprise_multiple %></td>
		<td><%= @trade_5y.enterprise_multiple %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "My EBITDA Multiple:" %></td> -->
		<td><%= number_with_precision(@now_ebitda_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@cy_ebitda_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y2_ebitda_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y3_ebitda_multiple, :precision => 1) %></td>
		<td></td>
		<!-- <td><%= @trade_4y.ebitda_multiple %></td>
		<td><%= @trade_5y.ebitda_multiple %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "My Sales Multiple:" %></td> -->
		<td><%= number_with_precision(@now_sales_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@cy_sales_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y2_sales_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y3_sales_multiple, :precision => 1) %></td>
		<td></td>
		<!-- <td><%= @trade_4y.sales_multiple %></td>
		<td><%= @trade_5y.sales_multiple %></td> -->
	</tr>
	<tr>
		<!-- <td><%= label :trade, "My Funded Debt Multiple:" %></td> -->
		<td><%= number_with_precision(@now_debt_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@cy_debt_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y2_debt_multiple, :precision => 1) %></td>
		<td></td>
		<td><%= number_with_precision(@y3_debt_multiple, :precision => 1) %></td>
		<td></td>
		<!-- <td><%= @trade_4y.debt_multiple %></td>
		<td><%= @trade_5y.debt_multiple %></td> -->
	</tr>
</table>

</div>

</div>

</div>

<div class="clear"></div>
</div>

<script>

//jQuery.noConflict()

/* --------- Charts --------- */

function yaxis(val) {

if ( val < 3 ) {
return "0 - 9";
} else if ( val < 5 ) {
return "10 - 74";
} else if ( val < 7 ) {
return "75 - 149";
} else if ( val < 9 ) {
return "150 - 499";
} else if ( val < 11 ) {
return "500 - 1,999";
} else {
return ">2000";
}

}


$(function () {

var t1 = [[1,<%= @trade_3y.revenue_category %>],[2,<%= @trade_2y.revenue_category %>],[3,<%= @trade_cy.revenue_category %>],[4,<%= @trade_now.revenue_category %>]];

var t2 = [[1,<%= @trade_3y.asset_category %>],[2,<%= @trade_2y.asset_category %>],[3,<%= @trade_cy.asset_category %>],[4,<%= @trade_now.asset_category %>]];

var t3 = [[1,<%= @trade_3y.sales_growth %>],[2,<%= @trade_2y.sales_growth %>],[3,<%= @trade_cy.sales_growth %>],[4,<%= @trade_now.sales_growth %>]];

var t4 = [[1,<%= @trade_3y.gross_profit_margin %>],[2,<%= @trade_2y.gross_profit_margin %>],[3,<%= @trade_cy.gross_profit_margin %>],[4,<%= @trade_now.gross_profit_margin %>]];

var t5 = [[1,<%= @trade_3y.operating_profit_margin %>],[2,<%= @trade_2y.operating_profit_margin %>],[3,<%= @trade_cy.operating_profit_margin %>],[4,<%= @trade_now.operating_profit_margin %>]];

var t6 = [[1,<%= @trade_3y.ebitda_percent %>],[2,<%= @trade_2y.ebitda_percent %>],[3,<%= @trade_cy.ebitda_percent %>],[4,<%= @trade_now.ebitda_percent %>]];

var t7 = [[1,<%= @trade_3y.enterprise_multiple %>],[2,<%= @trade_2y.enterprise_multiple %>],[3,<%= @trade_cy.enterprise_multiple %>],[4,<%= @trade_now.enterprise_multiple %>]];

var t8 = [[1,<%= @trade_3y.ebitda_multiple %>],[2,<%= @trade_2y.ebitda_multiple %>],[3,<%= @trade_cy.ebitda_multiple %>],[4,<%= @trade_now.ebitda_multiple %>]];

var t9 = [[1,<%= @trade_3y.sales_multiple %>],[2,<%= @trade_2y.sales_multiple %>],[3,<%= @trade_cy.sales_multiple %>],[4,<%= @trade_now.sales_multiple %>]];

var t10 = [[1,<%= @trade_3y.debt_multiple %>],[2,<%= @trade_2y.debt_multiple %>],[3,<%= @trade_cy.debt_multiple %>],[4,<%= @trade_now.debt_multiple %>]];

var s1 = [[1,<%= number_with_precision(@y3_revenue_category, :precision => 1) %>],[2,<%= number_with_precision(@y2_revenue_category, :precision => 1) %>],[3,<%= number_with_precision(@cy_revenue_category, :precision => 1) %>],[4,<%= number_with_precision(@now_revenue_category, :precision => 1) %>]];

var s2 = [[1,<%= number_with_precision(@y3_asset_category, :precision => 1) %>],[2,<%= number_with_precision(@y2_asset_category, :precision => 1) %>],[3,<%= number_with_precision(@cy_asset_category, :precision => 1) %>],[4,<%= number_with_precision(@now_asset_category, :precision => 1) %>]];

var s3 = [[1,<%= number_with_precision(@y3_sales_growth, :precision => 1) %>],[2,<%= number_with_precision(@y2_sales_growth, :precision => 1) %>],[3,<%= number_with_precision(@cy_sales_growth, :precision => 1) %>],[4,<%= number_with_precision(@now_sales_growth, :precision => 1) %>]];

var s4 = [[1,<%= number_with_precision(@y3_gross_profit_margin, :precision => 1) %>],[2,<%= number_with_precision(@y2_gross_profit_margin, :precision => 1) %>],[3,<%= number_with_precision(@cy_gross_profit_margin, :precision => 1) %>],[4,<%= number_with_precision(@now_gross_profit_margin, :precision => 1) %>]];

var s5 = [[1,<%= number_with_precision(@y3_operating_profit_margin, :precision => 1) %>],[2,<%= number_with_precision(@y2_operating_profit_margin, :precision => 1) %>],[3,<%= number_with_precision(@cy_operating_profit_margin, :precision => 1) %>],[4,<%= number_with_precision(@now_operating_profit_margin, :precision => 1) %>]];

var s6 = [[1,<%= number_with_precision(@y3_ebitda_percent, :precision => 1) %>],[2,<%= number_with_precision(@y2_ebitda_percent, :precision => 1) %>],[3,<%= number_with_precision(@cy_ebitda_percent, :precision => 1) %>],[4,<%= number_with_precision(@now_ebitda_percent, :precision => 1) %>]];

var s7 = [[1,<%= number_with_precision(@y3_enterprise_multiple, :precision => 1) %>],[2,<%= number_with_precision(@y2_enterprise_multiple, :precision => 1) %>],[3,<%= number_with_precision(@cy_enterprise_multiple, :precision => 1) %>],[4,<%= number_with_precision(@now_enterprise_multiple, :precision => 1) %>]];

var s8 = [[1,<%= number_with_precision(@y3_ebitda_multiple, :precision => 1) %>],[2,<%= number_with_precision(@y2_ebitda_multiple, :precision => 1) %>],[3,<%= number_with_precision(@cy_ebitda_multiple, :precision => 1) %>],[4,<%= number_with_precision(@now_ebitda_multiple, :precision => 1) %>]];

var s9 = [[1,<%= number_with_precision(@y3_sales_multiple, :precision => 1) %>],[2,<%= number_with_precision(@y2_sales_multiple, :precision => 1) %>],[3,<%= number_with_precision(@cy_sales_multiple, :precision => 1) %>],[4,<%= number_with_precision(@now_sales_multiple, :precision => 1) %>]];

var s10 = [[1,<%= number_with_precision(@y3_debt_multiple, :precision => 1) %>],[2,<%= number_with_precision(@y2_debt_multiple, :precision => 1) %>],[3,<%= number_with_precision(@cy_debt_multiple, :precision => 1) %>],[4,<%= number_with_precision(@now_debt_multiple, :precision => 1) %>]];

$.plot($("#chart1"), [{	
            data: s1,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
        },{	
        	color: "#ab1600",
            data: t1,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0        
		}],
		{
		xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
		yaxis: { ticks:[0,3,5,7,9,11], tickFormatter:function(val,axis){ return yaxis(val); } }
		});
	
$.plot($("#chart2"), [{	
			data: s2,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
        },{	
            color: "#ab1600",
            data: t2,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
		yaxis: { ticks:[0,3,5,7,9,11], tickFormatter:function(val,axis){ return yaxis(val); } }
		});
	
	


$.plot($("#chart3"), [{	
            data: s3,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
        },{	
        	color: "#ab1600",
            data: t3,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
    	yaxis: { tickFormatter:function(val,axis){ return val+"%"; } }
		});
		
$.plot($("#chart4"), [{	
           	data: s4,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
		},{	
			color: "#ab1600",
            data: t4,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
    	yaxis: { tickFormatter:function(val,axis){ return val+"%"; } },
		});
		
$.plot($("#chart5"), [{	
			data: s5,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
 
        },{	
			color: "#ab1600",
            data: t5,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0   
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
		yaxis: { tickFormatter:function(val,axis){ return val+"%"; } }
});
		
		
$.plot($("#chart6"), [{	
			data: s6,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
		},{	
            color: "#ab1600",
            data: t6,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
    	yaxis: { tickFormatter:function(val,axis){ return val+"%"; } }
		});
		
$.plot($("#chart7"), [{	
			data: s7,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
		},{	
         	color: "#ab1600",
            data: t7,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
    	yaxis: { tickDecimals:1 }
		});
		
$.plot($("#chart8"), [{	
			data: s8,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
		},{	
        	color: "#ab1600",
            data: t8,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
    	yaxis: { tickDecimals:1 }
		});
		
$.plot($("#chart9"), [{	
			data: s9,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
		},{	
			color: "#ab1600",
            data: t9,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
            
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
    	yaxis: { tickDecimals:1 }
		});
		
$.plot($("#chart10"), [{	
			data: s10,
            bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
            shadowSize:0
		},{	
			color: "#ab1600",
            data: t10,
            points: { radius: 3, symbol: "circle",show:true,fill:true,fillColor: "#ab1600" },
            lines: { show:true,fill:false,lineWidth:3 },
            shadowSize:0
        }],
    	{
    	xaxis: { show:true, ticks:[[1,"3Y"],[2,"2Y"],[3,"CY"],[4,"Now"]], min:0, max:5 },
    	yaxis: { tickDecimals:1 }
		});	
	
	/*
	$.plot($("#chart2"), [d2],
	{	
	bars: { barWidth:.5,show:true,fillColor: "#c3d3e1",lineWidth:0,align:"center" },
	xaxis: { show:true, ticks:[[1,"Now"],[2,"CY"],[3,"Y2"],[4,"Y3"],[5,"Y4"],[6,"Y5"]], min:0, max:7 }
	});
	*/
	
});



</script>