
<%= show_notice(notice) %>

<h1>
Forgot Your Password?
</h1>

<p>Please submit your account's email address, and we will email you with a link to reset your password.</p>

<%= form_tag(:action=>'forgot_password_email') do %>
<table class="login" style="border-collapse:collapse;" cellspacing="0" >
	<tr>
	  <td style="padding-top: 10px"><font face="Arial" size="4"><b>Email:</b></font></td>
	  <td><%= text_field_tag(:email)%> </td>
	</tr>
	<tr>
	  <td></td>
	  <td style="text-align:left"><%= submit_tag("Submit")%>
			&nbsp;&nbsp;<%= link_to 'Cancel', {:controller => 'access', :action => 'index'} %> </td>
	</tr>
</table>

<% end %>


