<%= show_notice(notice) %>
<% if notice.nil? %>

<p>
	<% end %>
</p>


<%= form_tag(:action=>'login') do %>

<div class="content">
	
	<table>
	
		<tr>
			<td colspan="2"><h1>Log In Form</h1></td>
		</tr>
	
		<tr>
			<td>Username:</td><td><%= text_field_tag(:email)%></td>
		</tr>

		<tr>
			<td>Password:</td><td><%= password_field_tag(:password)%></td>
		</tr>

		<tr>
			<td colspan="2" class="center">
		
			<p><%= submit_tag("Login")%></p>
		
			<p><%= link_to 'Register', {:controller => 'access', :action => 'register'} %></p>

			<p><%= link_to 'Forgot Password?', {:controller => 'access', :action => 'forgot_password'} %></p>

			
	
			</td>
		
		</tr>
		
	</table>
	
</div>

<% end %>


