
<h1> Please enter your desired password. </h1>
<%= show_notice(notice) %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @user.errors.full_messages %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for(@user, :url => {:controller=>:access,:action => :update_password}) do |f| %>
<table>
	<tr>
		<td>New Password:</td><td><%= f.password_field :password %></td>
	</tr>

	<tr>
		<td>Confirm Password:</td><td><%= f.password_field :password_confirmation %></td>
	</tr>
	<%= hidden_field(:user, :reset_password_code) %>
	<tr>
		<td></td>
		<td> <%= submit_tag("Submit")%>	</td>
	</tr>
</table>

<% end %>
