

<div class="content">

<h1>Summary Sheet</h1>

<table>


	
<table>

<table class="summarysheet">

	<tr>  
   		<th colspan="2">Company</th>    
    	<th colspan="4">Last Updated</th> 
	</tr>  

	<% for company in @companies %>  

	<tr class="<%= cycle("even", "odd") %>">  
     
		<td ><%= company.name %></td>    
    
		<td class="actions"><%= link_to "View/Edit", {:action=>"editcompany", :id => company.id} %></td>
    
		<td><%= company.updated_at.strftime("%m-%d-%Y") %></td>  
     
		<td ></td>
     
		<td class="actions"><%= link_to "Stat Trade", {:controller=>"data_sheet",:action=>"view", :id => company.id} %></td>
      

		<td><%= link_to "Network Stats", {:controller =>"network_stats", :action=>"view", :id => company.id} %></td>

	</tr>  

<% end %>  

</table>

<p>
	<span class="button"><%= link_to "Add Company", {:action=>"newcompany"} %></span>
</p>

</div>
