<h1>SummarySheet</h1>
<br>
<table >
  <tr style="background-color:white">  
  	<!--TODO: make some of these sortable -->
    <th style="background-color:white">Company</th>    
    <th style="background-color:white"> </th>
    <th style="background-color:white">Last Updated</th> 
    <th style="background-color:white"> </th>
    <th style="background-color:white"> </th>
    
    <th style="background-color:white"> </th>
    <th style="background-color:white"> </th>
  </tr>  
  <% for company in @companies %>  
    <tr class="<%= cycle("even", "odd") %>">  
      <td ><font face ="Lucida Console"><%= company.name %></font></td>    
      <td class="actions"><%= link_to "View/Edit", {:action=>"editcompany", :id => company.id} %></td>
      <td><%= company.updated_at.strftime("%m-%d-%Y") %></td>  
      <td ><div style="width:1px;height:20px;background-color:black;float:left;"></div></td>
      <td style="background-color:gold;width:125px" class="actions"><%= link_to "Stat Trade", {:controller=>"data_sheet",:action=>"view", :id => company.id} %></td>
      
      <td ><div style="width:1px;height:20px;background-color:black;float:left;"></div></td>
      <td style="background-color:cornflowerblue;width:150px" class="actions"><%= link_to "Network Stats", {:controller =>"network_stats", :action=>"view", :id => company.id} %></td>
    </tr>  
  <% end %>  
  	<tr>
  	  <td class="actions"><%= link_to "Add Company", {:action=>"newcompany"} %></td>
  	  <td></td>
  	  <td></td>
  	  <td></td>
  	  <td></td>
  	</tr>
</table>