<div class="heading">Company List</div><!--heading closed -->
<div class="data">
	<table class="table_prop" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			  <th style="text-align:left">Company Name or Code</th>
			  <th>To Stat Trade</th>
			  <th>SIC Default Description</th>
			  <th>Last Updated</th>
			  <th>Private Cos</th>
			  <th>Public Cos</th>
			  <th>View & Filter</th>
			  <th>From Vendors</th>
			  <th>From Members</th>
			  <th>Network's Traded Links</th>
			  <th>Delete Company</th>
		</tr>
		<% for company in @companies %>  
			 <tr>
				  <td  style="text-align:left">
					<%= 
						if "#{company.name}".length > 19
							"#{company.name}".slice(0,19) + ".."
						else
							"#{company.name}"
						end
					%>
				</td>
				  <td><%= link_to image_tag("padlock.png", :class => "icon"), {:controller=>"data_sheet",:action=>"view", :id => company.id} %></td>
				  <td>
					<%= if "#{SIC.description(company.sic)}".length > 19
						"#{SIC.description(company.sic)}".slice(0,19) + ".."
					else
						"#{SIC.description(company.sic)}"
					end %>
				</td>
				  <td><%= 
					if company.updated_at.present?
						 company.updated_at.strftime("%m-%d-%Y")
					end
					%>
				</td>
				  <td><%=
						if company.current_filter.present?
							link_to "#{default_filter_private_count(company)}", {:controller => :network_stats, :action => :private_stats, :id => company.id}
						end
					%></td>
				<td><%= 
					if company.current_filter.present?
						link_to "#{default_filter_public_count(company)}", {:controller => :network_stats, :action => :show_publics, :id => company.id}
					end
					%></td>
				  <td><%= link_to image_tag("charticon.png", :class => "icon"), {:controller=>"network_stats",:action=>"view", :id => company.id} %></td>
				  <td><%= link_to "View", {:action=>"index"} %></td>
				<td><%= link_to "View", {:action=>"index"} %></td>
				<td><%= link_to "View", {:action=>"index"} %></td>
				<td><%= link_to "Delete", {:action=>"delete_company", :id => company.id}, :confirm =>"This will permanently delete company '#{company.name}' and all associated data.  Are you sure?" %></td>
			</tr>
		<% end %> 
	</table>
	<div class="add_button addcompanybutton"><%= link_to "Add Company", {:controller=>"data_sheet",:action=>"new"} %></div>
	<div class="clear"></div>
</div>

<!-- Public Company Sections -->
<div class="heading" style="margin-top:50px;">StatTrader - Public Companies</div><!--heading closed -->
<div class="data">
	<table class="table_prop" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			  <th style="text-align:left">Company Name or Code</th>
			  <th>To Stat Trade</th>
			  <th>SIC Default Description</th>
			  <th>Last Updated</th>
			  <th>Private Cos</th>
			  <th>Public Cos</th>
			  <th>View & Filter</th>
			  <th>From Vendors</th>
			  <th>From Members</th>
			  <th>Network's Traded Links</th>
			  <th>Remove Company</th>
		</tr>
		<% @user_companies.each do |user_company| %>  
			<% p_company = Company.find(user_company.pc_id) %>
			<% # unless p_company.nil? %>
			 <tr>
				  <td  style="text-align:left">
					<%= 
						if "#{p_company.name}".length > 19
							"#{p_company.name}".slice(0,19) + ".."
						else
							"#{p_company.name}"
						end
					%>
				</td>
				  <td><%= link_to image_tag("padlock.png", :class => "icon"), {:controller=>"data_sheet",:action=>"view", :id => p_company.id} %>
				  <td>
					<%= if "#{SIC.description(p_company.sic)}".length > 19
						"#{SIC.description(p_company.sic)}".slice(0,19) + ".."
					else
						"#{SIC.description(p_company.sic)}"
					end %>
				</td>
				  <td><%=  
							if p_company.updated_at.present?
								p_company.updated_at.strftime("%m-%d-%Y");
							end;
						%></td>
				  <td><%= 
					if p_company.current_filter.present?
						link_to "#{default_filter_private_count(p_company)}", {:controller => :network_stats, :action => :private_stats, :id => p_company.id}
					end
					%></td>
				<td><%= 
				
					if p_company.current_filter.present?
						link_to "#{default_filter_public_count(p_company)}", {:controller => :network_stats, :action => :show_publics, :id => p_company.id}
					end
					%></td>
				  <td><%= link_to image_tag("charticon.png", :class => "icon"), {:controller=>"network_stats",:action=>"view", :id => p_company.id} %></td>
				  <td><%= link_to "View", {:action=>"index"} %></td>
					<td><%= link_to "View", {:action=>"index"} %></td>
					<td><%= link_to "View", {:action=>"index"} %></td>
					<td><%= link_to "Delete", {:action=>"delete_company_link", :id => user_company.id}, :confirm =>"This will remove company '#{p_company.name}' from your list.  Are you sure?" %></td>
			</tr>
			<% #end %>
		<% end %> 
		<% if @user_companies.size.to_i == 0 %>
			<tr>
				<td colspan="11">No StatTrader Public companies added yet. Click "Import Company Data" above to add to this list.</td>
			</tr>
		<% end %>
	</table>
	<div class="clear"></div>
</div>