
<div class="menu">
	<%= link_to "Summary Sheet", :controller=>"summary_sheet",:action=>"index" %>
	<span>Data Sheet</span>
	<%= link_to "Network Stats", :controller=>"network_stats",:action=>"view", :id => @company.id %>
</div>

<div class="datamenu">

<div id="datainlist" class="datain">
<div id="datain" onselectstart="return false">Company Data In</div>
<p>Select from StatTrader's Public Database</p>
<p>Upload XBRL File to StatTrader</p>
<p>Upload a StatTrader File</p>
</div>  

<div id="dataoutlist" class="dataout">
<div id="dataout" onfocus="this.blur();">Company Data Out</div>
<p><%= link_to 'Export to Excel', :controller=>"data_sheet",:action=>"view", :id => @company.id, :format => :xls %></p>
<p>Export to a StatTrader File</p>
</div>

</div>

<div class="leftwindow" id="leftwindow">

<%= show_notice(notice) %>
<div class="heading">Company Profile</div>

<%= form_for @company, :url => {:controller=>:data_sheet,:action => :update} do |f| %>	
		<table class="labels">
		<tr>
			<td><%= f.label "Company Name:" %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label "Combination:" %></td>
			<td><%= f.select(:combination, Company.combination_options, :include_blank => "Please Select") %></td>
		</tr>
		<tr>
			<td><%= f.label "Ownership:" %></td>
			<td><%= f.select(:ownership, Company.ownership_options, :include_blank => "Please Select") %></td>
		</tr>
		<tr>
			<td><%= f.label "SIC:" %></td>
			<td><%= f.select(:sic, Company.four_digit_sic_options, :include_blank => "Please Select") %></td>
		</tr>
		<tr>
			<td><%= f.label "Country:" %></td>
			<td><%= f.select(:country, Company.country_options, :default => 1, :class => "rowform") %></td>
		</tr>
		<tr>
			<td><%= f.label "Region:" %></td>
			<td><%= f.select(:region, Company.region_options, :include_blank => "Please Select") %></td>
		</tr>
		<tr>
			<td colspan="2" class="center">
			
				<p><%= f.hidden_field(:id) %></p>
				<p><%= f.submit "Save & Update" %></p>
				<!--<p><%= link_to 'Cancel', summary_sheet_url %></p>-->
			
			</td>
		</tr>
		</table>
	</div>
	
<div class="tablescontainer">

<!-- <div class="heading">&nbsp;&nbsp;Company: <%= @company.name %></div> -->
<br>
 
<div class="confidential">CONFIDENTIAL <img src="../../img/padlock.png" /></div>

<div class="companydatacontainer">

<div class="companydatamenu"><a href="#" id="5ybutton"><span>&#9658;</span> 4 & 5 Year</a></div>

<div class="tablecolumn labels">
<table>
<tr><th></th></tr>
<tr><td><!-- Fiscal Year End: --></td></tr>
<tr><td>Historical Data Quality:</td></tr>
<tr><td>Reporting Scale:</td></tr>
<tr><td class="labeltitle" style="text-align:left;">Accounts</td></tr>
<tr><td><%= label :secure, "Assets:" %></td></tr>
<tr><td><%= label :secure, "Revenue:" %></td></tr>
<tr><td><%= label :secure, "Gross Profit:" %></td></tr>
<tr><td><%= label :secure, "Operating Profit:" %></td></tr>
<tr><td><%= label :secure, "EBITDA:" %></td></tr>
<tr><td class="labeltitle" style="text-align:left;">Valuation</td></tr>
<tr><td><%= label :secure, "EBITDA Multiple:" %></td></tr>
<tr><td><%= label :secure, "Sales Multiple:" %></td></tr>
<tr><td><%= label :secure, "Funded Debt Multiple:" %></td></tr>
<tr><td><%= label :secure, "Stock Price:" %></td></tr>
</table>

</div>


<div class="tablecolumn companynow">
<table>
<tr><th>Now</th></tr>
<tr><td><%= fye_format(@secure_now.updated_at) %></td></tr>
<tr><td>My Estimate </td></tr>
<tr><td style="text-align:center;"><%= SecureStat.reporting_scale(@secure_now.reporting_scale) %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_now, :assets %></td></tr>
<tr><td><%= text_field :secure_now, :gross_sales %></td></tr>
<tr><td><%= text_field :secure_now, :gross_profit %></td></tr>
<tr><td><%= text_field :secure_now, :operating_profit %></td></tr>
<tr><td><%= text_field :secure_now, :ebitda %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_now, :ebitda_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_now, :sales_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_now, :debt_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_now, :stock_price, :step => "any" %></td></tr>
</table>

</div>


<div class="tablecolumn">
<table>
<tr><th>CY</th></tr>
<tr><td><%= select(:secure_cy, :fye, fye_options(@secure_cy.fye)) %></td></tr>
<tr><td><%= select(:secure_cy, :quality, SecureStat.quality_options) %></td></tr>
<tr><td><%= select(:secure_cy, :reporting_scale, SecureStat.reporting_scale_options) %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_cy, :assets %></td></tr>
<tr><td><%= text_field :secure_cy, :gross_sales %></td></tr>
<tr><td><%= text_field :secure_cy, :gross_profit %></td></tr>
<tr><td><%= text_field :secure_cy, :operating_profit %></td></tr>
<tr><td><%= text_field :secure_cy, :ebitda %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_cy, :ebitda_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_cy, :sales_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_cy, :debt_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_cy, :stock_price, :step => "any" %></td></tr>
</table>

</div>

<div class="tablecolumn">
<table>
<tr><th>2Y</th></tr>
<tr><td><%= fye_format(@secure_2y.fye) %></td></tr>
<tr><td><%= select(:secure_2y, :quality, SecureStat.quality_options) %></td></tr>
<tr><td style="text-align:center;"><%= SecureStat.reporting_scale(@secure_2y.reporting_scale) %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_2y, :assets %></td></tr>
<tr><td><%= text_field :secure_2y, :gross_sales %></td></tr>
<tr><td><%= text_field :secure_2y, :gross_profit %></td></tr>
<tr><td><%= text_field :secure_2y, :operating_profit %></td></tr>
<tr><td><%= text_field :secure_2y, :ebitda %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_2y, :ebitda_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_2y, :sales_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_2y, :debt_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_2y, :stock_price, :step => "any" %></td></tr>
</table>
</div>

<div class="tablecolumn">
<table>
<tr><th>3Y</th></tr>
<tr><td><%= fye_format(@secure_3y.fye) %></td></tr>
<tr><td><%= select(:secure_3y, :quality, SecureStat.quality_options) %></td></tr>
<tr><td style="text-align:center;"><%= SecureStat.reporting_scale(@secure_3y.reporting_scale) %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_3y, :assets %></td></tr>
<tr><td><%= text_field :secure_3y, :gross_sales %></td></tr>
<tr><td><%= text_field :secure_3y, :gross_profit %></td></tr>
<tr><td><%= text_field :secure_3y, :operating_profit %></td></tr>
<tr><td><%= text_field :secure_3y, :ebitda %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_3y, :ebitda_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_3y, :sales_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_3y, :debt_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_3y, :stock_price, :step => "any" %></td></tr>
</table>
</div>

<div class="tablecolumn collapsed" id="company5y">

<div class="tablecolumn">
<table>
<tr><th>4Y</th></tr>
<tr><td><%= fye_format(@secure_4y.fye) %></td></tr>
<tr><td><%= select(:secure_4y, :quality, SecureStat.quality_options) %></td></tr>
<tr><td><%= SecureStat.reporting_scale(@secure_4y.reporting_scale) %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_4y, :assets %></td></tr>
<tr><td><%= text_field :secure_4y, :gross_sales %></td></tr>
<tr><td><%= text_field :secure_4y, :gross_profit %></td></tr>
<tr><td><%= text_field :secure_4y, :operating_profit %></td></tr>
<tr><td><%= text_field :secure_4y, :ebitda %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_4y, :ebitda_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_4y, :sales_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_4y, :debt_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_4y, :stock_price, :step => "any" %></td></tr>
</table>
</div>

<div class="tablecolumn">
<table>
<tr><th>5Y</th></tr>
<tr><td><%= fye_format(@secure_5y.fye) %></td></tr>
<tr><td><%= select(:secure_5y, :quality, SecureStat.quality_options) %></td></tr>
<tr><td><%= SecureStat.reporting_scale(@secure_5y.reporting_scale) %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_5y, :assets %></td></tr>
<tr><td><%= text_field :secure_5y, :gross_sales %></td></tr>
<tr><td><%= text_field :secure_5y, :gross_profit %></td></tr>
<tr><td><%= text_field :secure_5y, :operating_profit %></td></tr>
<tr><td><%= text_field :secure_5y, :ebitda %></td></tr>
<tr><td></td></tr>
<tr><td><%= text_field :secure_5y, :ebitda_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_5y, :sales_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_5y, :debt_multiple, :step => "any" %></td></tr>
<tr><td><%= text_field :secure_5y, :stock_price, :step => "any"%></td></tr>
</table>

</div>

</div>


<div class="clear"></div>

</div>

<div class="clear"></div>
<!-- <div class="updatebutton"><%= f.hidden_field(:id) %> <%= f.submit "Update & Save"%></div> -->
<div class="heading">My Stat Trade</div>

<div class="mystattradecontainer">

<div class="companydatamenu"><a href="#" id="5ytradebutton"><span>&#9658;</span> 4 & 5 Year</a></div>

<div class="tablecolumn labels">
<table>
<tr><th></th></tr>
<tr><td class="labeltitle" style="text-align:left;">Accounts</td></tr>
<tr><td><%= label :trade, "Asset Category:" %></td></tr>
<tr><td><%= label :trade, "Revenue Category:" %></td></tr>
<tr><td><%= label :trade, "Sales/Revenue Growth:" %></td></tr>
<tr><td><%= label :trade, "Gross Profit Margin:" %></td></tr>
<tr><td><%= label :trade, "Operating Profit Margin:" %></td></tr>
<tr><td><%= label :trade, "EBITDA %:" %></td></tr>
<tr><td class="labeltitle" style="text-align:left;">Valuation</td></tr>
<tr><td><%= label :trade, "Enterprise Multiple of Book:" %></td></tr>
<tr><td><%= label :trade, "My EBITDA Multiple:" %></td></tr>
<tr><td><%= label :trade, "My Sales Multiple:" %></td></tr>
<tr><td><%= label :trade, "My Funded Debt Multiple:" %></td></tr>
</table>
</div>

<div class="tablecolumn tradenow">

<table>
<tr><th>Now</th></tr>
<tr><td></td></tr>
<tr><td><%= @trade_now.asset_category %></td></tr>
<tr><td><%= @trade_now.revenue_category %></td></tr>
<tr><td><%= @trade_now.sales_growth %></td></tr>
<tr><td><%= @trade_now.gross_profit_margin %></td></tr>
<tr><td><%= @trade_now.operating_profit_margin %></td></tr>
<tr><td><%= @trade_now.ebitda_percent %></td></tr>
<tr><td></td></tr>
<tr><td><%= @trade_now.enterprise_multiple %></td></tr>
<tr><td><%= @trade_now.ebitda_multiple %></td></tr>
<tr><td><%= @trade_now.sales_multiple %></td></tr>
<tr><td><%= @trade_now.debt_multiple %></td></tr>
</table>


</div>


<div class="tablecolumn  percentage">
<table>
<tr><th></th></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><%= "%" unless @trade_now.sales_growth.nil? %></td></tr>
<tr><td><%= "%" unless @trade_now.gross_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_now.operating_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_now.ebitda_percent.nil? %></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
</table>
</div>




<div class="tablecolumn mytrade">


<table>
<tr><th>CY</th></tr>
<tr><td></td></tr>
<tr><td><%= @trade_cy.asset_category %></td></tr>
<tr><td><%= @trade_cy.revenue_category %></td></tr>
<tr><td><%= @trade_cy.sales_growth %></td></tr>
<tr><td><%= @trade_cy.gross_profit_margin %></td></tr>
<tr><td><%= @trade_cy.operating_profit_margin %></td></tr>
<tr><td><%= @trade_cy.ebitda_percent %></td></tr>
<tr><td></td></tr>
<tr><td><%= @trade_cy.enterprise_multiple %></td></tr>
<tr><td><%= @trade_cy.ebitda_multiple %></td></tr>
<tr><td><%= @trade_cy.sales_multiple %></td></tr>
<tr><td><%= @trade_cy.debt_multiple %></td></tr>
</table>


</div>

<div class="tablecolumn  percentage">
<table>
<tr><th></th></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><%= "%" unless @trade_cy.sales_growth.nil? %></td></tr>
<tr><td><%= "%" unless @trade_cy.gross_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_cy.operating_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_cy.ebitda_percent.nil? %></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
</table>
</div>



<div class="tablecolumn mytrade">
<table>
<tr><th>2Y</th></tr>
<tr><td></td></tr>
<tr><td><%= @trade_2y.asset_category %></td></tr>
<tr><td><%= @trade_2y.revenue_category %></td></tr>
<tr><td><%= @trade_2y.sales_growth %></td></tr>
<tr><td><%= @trade_2y.gross_profit_margin %></td></tr>
<tr><td><%= @trade_2y.operating_profit_margin %></td></tr>
<tr><td><%= @trade_2y.ebitda_percent %></td></tr>
<tr><td></td></tr>
<tr><td><%= @trade_2y.enterprise_multiple %></td></tr>
<tr><td><%= @trade_2y.ebitda_multiple %></td></tr>
<tr><td><%= @trade_2y.sales_multiple %></td></tr>
<tr><td><%= @trade_2y.debt_multiple %></td></tr>
</table>
</div>


<div class="tablecolumn  percentage">
<table>
<tr><th></th></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><%= "%" unless @trade_2y.sales_growth.nil? %></td></tr>
<tr><td><%= "%" unless @trade_2y.gross_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_2y.operating_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_2y.ebitda_percent.nil? %></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
</table>
</div>



<div class="tablecolumn mytrade">
<table>
<tr><th>3Y</th></tr>
<tr><td></td></tr>
<tr><td><%= @trade_3y.asset_category %></td></tr>
<tr><td><%= @trade_3y.revenue_category %></td></tr>
<tr><td><%= @trade_3y.sales_growth %></td></tr>
<tr><td><%= @trade_3y.gross_profit_margin %></td></tr>
<tr><td><%= @trade_3y.operating_profit_margin %></td></tr>
<tr><td><%= @trade_3y.ebitda_percent %></td></tr>
<tr><td></td></tr>
<tr><td><%= @trade_3y.enterprise_multiple %></td></tr>
<tr><td><%= @trade_3y.ebitda_multiple %></td></tr>
<tr><td><%= @trade_3y.sales_multiple %></td></tr>
<tr><td><%= @trade_3y.debt_multiple %></td></tr>
</table>
</div>

<div class="tablecolumn  percentage">
<table>
<tr><th></th></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><%= "%" unless @trade_3y.sales_growth.nil? %></td></tr>
<tr><td><%= "%" unless @trade_3y.gross_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_3y.operating_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_3y.ebitda_percent.nil? %></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
</table>
</div>




<div class="tablecolumn collapsed" id="trade5y">
<div class="tablecolumn mytrade">
<table>
<tr><th>4Y</th></tr>
<tr><td></td></tr>
<tr><td><%= @trade_4y.asset_category %></td></tr>
<tr><td><%= @trade_4y.revenue_category %></td></tr>
<tr><td><%= @trade_4y.sales_growth %></td></tr>
<tr><td><%= @trade_4y.gross_profit_margin %></td></tr>
<tr><td><%= @trade_4y.operating_profit_margin %></td></tr>
<tr><td><%= @trade_4y.ebitda_percent %></td></tr>
<tr><td></td></tr>
<tr><td><%= @trade_4y.enterprise_multiple %></td></tr>
<tr><td><%= @trade_4y.ebitda_multiple %></td></tr>
<tr><td><%= @trade_4y.sales_multiple %></td></tr>
<tr><td><%= @trade_4y.debt_multiple %></td></tr>
</table>
</div>


<div class="tablecolumn  percentage">
<table>
<tr><th></th></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><%= "%" unless @trade_4y.sales_growth.nil? %></td></tr>
<tr><td><%= "%" unless @trade_4y.gross_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_4y.operating_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_4y.ebitda_percent.nil? %></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
</table>
</div>


<div class="tablecolumn mytrade">
<table>
<tr><th>5Y</th></tr>
<tr><td></td></tr>
<tr><td><%= @trade_5y.asset_category %></td></tr>
<tr><td><%= @trade_5y.revenue_category %></td></tr>
<tr><td><%= @trade_5y.sales_growth %></td></tr>
<tr><td><%= @trade_5y.gross_profit_margin %></td></tr>
<tr><td><%= @trade_5y.operating_profit_margin %></td></tr>
<tr><td><%= @trade_5y.ebitda_percent %></td></tr>
<tr><td></td></tr>
<tr><td><%= @trade_5y.enterprise_multiple %></td></tr>
<tr><td><%= @trade_5y.ebitda_multiple %></td></tr>
<tr><td><%= @trade_5y.sales_multiple %></td></tr>
<tr><td><%= @trade_5y.debt_multiple %></td></tr>
</table>
</div>


<div class="tablecolumn  percentage">
<table>
<tr><th></th></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><%= "%" unless @trade_5y.sales_growth.nil? %></td></tr>
<tr><td><%= "%" unless @trade_5y.gross_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_5y.operating_profit_margin.nil? %></td></tr>
<tr><td><%= "%" unless @trade_5y.ebitda_percent.nil? %></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
</table>
</div>



</div>
<% end %>
<div class="clear"></div>
</div>


</div>



<script>


/* --------- Money Formatting --------- */

var inputVals = document.getElementsByTagName('input');
var multipleTest = /multiple/i;
var stockTest = /stock/i;
var secureTest = /secure\_/i;

function money() {
	if ( this.value != "" ) {
	if ( stockTest.test(this.id) == true ) {
		this.value = accounting.formatMoney(this.value);
		} else if ( multipleTest.test(this.id) == false ) {
		this.value = accounting.formatMoney(this.value, "$", 0, ",", ",");
		}
	}
	}

for ( var i = 0; i < inputVals.length; i++ ) {
	if ( inputVals[i].id ) {
		if ( secureTest.test(inputVals[i].id) == true )   {
			inputVals[i].onblur = money;
			if ( (inputVals[i].value != "") && (multipleTest.test(inputVals[i].id)==false)) {
				if ( stockTest.test(inputVals[i].id) == true ) { 
					inputVals[i].value = accounting.formatMoney(inputVals[i].value);
					} else {
					inputVals[i].value = accounting.formatMoney(inputVals[i].value, "$", 0, ",", ",");
					}
				}
			}
		}
	}
	
	
	</script>