<!DOCTYPE html>
<html>
<head>
  <title>Stattrader Prototype</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= link_to 'Logout', {:controller => 'access', :action => 'logout'} %>

<%= show_notice(notice) %>

<%= yield %>

</body>
</html>
