<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Stattrader Prototype</title>
  <meta name="robots" content="none">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<%= link_to image_tag("stattrader-logo.jpg", :class => "logo"), "http://www.stattrader.com" %>
<div class="logout"><%= link_to 'Logout', {:controller => 'access', :action => 'logout'} %></div>
</div>

<div class="container" id="container">
	<%= yield %>
</div>

<div class="footer">All content © 2012 <a href="http://www.stattrader.com">StatTrader.com</a></div>
</body>
</html>
