<!DOCTYPE html>
<html>
<head>
  <title>StatTrader Prototype</title>
  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
<script type="text/javascript">
<!--
function delayer(){
    window.location = "<%= root_url %>"
}
//-->
</script>
</head>
<body onLoad="setTimeout('delayer()', 15000)">

<div class="header">
	<%= link_to image_tag("stattrader-logo.jpg", :class => "logo"), "http://www.stattrader.com" %>
</div>

<br><br><br><br>

<div class="container">
	<%= yield %>
</div>

<div class="footer">All content © 2012 <a href="http://www.stattrader.com">StatTrader.com</a></div>
</body>
</html>
